The[[:space:]]Quiet[[:space:]]Village/Assets/Sci_Fi_Super_Pack/**/*.tga filter=lfs diff=lfs merge=lfs -text
The[[:space:]]Quiet[[:space:]]Village/Assets/Sci_Fi_Super_Pack/**/*.TGA filter=lfs diff=lfs merge=lfs -text
The[[:space:]]Quiet[[:space:]]Village/Assets/Sci_Fi_Super_Pack/**/*.fbx filter=lfs diff=lfs merge=lfs -text
The[[:space:]]Quiet[[:space:]]Village/Assets/Sci_Fi_Super_Pack/**/*.FBX filter=lfs diff=lfs merge=lfs -text
The[[:space:]]Quiet[[:space:]]Village/Assets/Sci_Fi_Super_Pack/**/*.obj filter=lfs diff=lfs merge=lfs -text
The[[:space:]]Quiet[[:space:]]Village/Assets/Sci_Fi_Super_Pack/**/*.OBJ filter=lfs diff=lfs merge=lfs -text
